body {
  font-family: "Amiri", serif;
  background-color: #fafafa;
  color: #333;
  text-align: center;
  padding: 20px;
  direction: rtl;
  margin: 0;
}

.book-container {
  max-width: 1350px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 93.5vh;
}

.book-header {
  background-color: #004d40;
  color: white;
  padding: 0px;
  border-bottom: 0px solid #ccc;
}

.book-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  position: relative;
  font-size: 150%;
  line-height: 1.5;
  color: #004d40;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.book-footer {
  background-color: #004d40;
  color: white;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.book-footer input,
.book-footer button {
  padding: 20px;
  margin: 50px;
}

/* Gaya untuk tombol navigasi */
.navigation button {
  background-color: #004d40;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.navigation button:hover {
  background-color: #00796b;
}

.ayat-number {
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #004d40;
  margin-left: 5px;
  font-size: 14px;
  color: white;
}

.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}

/* Responsif */
@media (max-width: 600px) {
  .book-container {
    padding: 0px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 90vh;
  }

  .navigation button,
  .book-footer input,
  .book-footer button {
    width: 100%;
    box-sizing: border-box;
  }

  .hurufisi {
    font-size: 150%;
  }
}
